modules = ["python-3.11", "postgresql-16", "nodejs-20", "python3"]

[nix]
channel = "stable-25_05"
packages = ["jq", "openssl", "postgresql"]

[deployment]
deploymentTarget = "gce"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
build = ["sh", "-c", "pip install -r requirements.txt"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34885
externalPort = 3001

[[ports]]
localPort = 35253
externalPort = 3002

[[ports]]
localPort = 39177
externalPort = 4200

[[ports]]
localPort = 39233
externalPort = 5173

[[ports]]
localPort = 44767
externalPort = 3000

[[ports]]
localPort = 45809
externalPort = 5000

[[ports]]
localPort = 46229
externalPort = 6800

[[ports]]
localPort = 46709
externalPort = 3003

[agent]
integrations = ["python_log_in_with_replit==1.0.0", "python_openai==1.0.0", "python_database==1.0.0"]
